<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/b0b051f3df.js"></script>
    {{> "math"}}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ asset "styles/tufte.css"}}" />
    <link rel="stylesheet" href="{{ asset "styles/latex.css"}}" />
    <title>{{title}}</title>
</head>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<body>
    {{> "backbutton"}}
    <h1>{{title}}</h1>
    <p class="author">Daniel Denenberg</p>
    <p datetime="{{date format="YYYY-MM-DD"}}" class="subtitle">{{date format="M.D.YYYY"}}</p>

    <br />
    {{content}}


</body>

</html>
{{/post}}